flask
gunicorn
numpy
matplotlib
asttokens
beautifulsoup4
blinker
click
colorama
comm
contourpy
cycler
decorator
executing
fonttools
google
ipython
ipython_pygments_lexers
ipywidgets
itsdangerous
jedi
Jinja2
jupyterlab_widgets
kiwisolver
MarkupSafe
narwhals
packaging
pandas
parso
pillow
plotly
prompt_toolkit
pure_eval
Pygments
pyparsing
python-dateutil
pytz
scipy
seaborn
six
soupsieve
stack-data
traitlets
typing_extensions
tzdata
wcwidth
Werkzeug
widgetsnbextension
XlsxWriter
