
{% extends 'base.html' %}
    
    {% block conteudo %}
        <h2> TESTE CALCULO VIGA</h2>
        <p>
            APERTE PARA CALCULAR
        </p>
        <form action="/calcular" method="post">
            Comprimento da viga (m): <input type="text" name="comprimento"><br/>
            Posicao X: <input type="text" name="posicao_x"><br/>
            Posicao Y: <input type="text" name="posicao_y"><br/>
            Valor X: <input type="text" name="valor_x"><br/>
            Valor Y: <input type="text" name="valor_y"><br/>
            Inicio: <input type="text" name="inicio"><br/>
            Fim: <input type="text" name="fim"><br/>
            q (kN/m): <input type="text" name="q"><br/>
            <button type="submit">Calcular</button>
        </form>
    {% endblock %}